html,body,*{
    margin: 0%;
    padding: 0%;
}
.content{
    text-align: center;
    position: relative;
}
.logo{
    margin-top: 16%;
    margin-bottom: 2%; 
    font-size: 64px;
    display: block;
}
.logo a{
    color: #16a085;
    text-decoration: none;
    transition: .25s;
    background-color: transparent;
}
.frame{
    width: 30%;
    font-size: 16px;
    line-height: 2em;
    border: 1px #16a085 solid;
    border-radius: 5px;
}
.search{
    margin-bottom: 2%;
}
.button a{
    padding: 6px 20px; 
    font-size: 16px;
}